extends ../includes/loginlayout

block main-content
    .content
        .container.pd-top-40
            .row
                .col-sm-6.col-sm-offset-3
                    h1.mg-bottom-30.clr-secondary Reset your password
                    form(name="reset_password" action='/reset-password' method="POST")
                        .form-group.mg-bottom-20
                            label.mg-bottom-10(for = "password") Enter Password
                            input.form-control#password(type="password" name="password" placeholder="Password" ng-model="password" required)
                        .form-group
                            label.mg-bottom-10(for = "confirm-password") Enter Password again
                            input.form-control#confirm-password(type="password" name="password_confirm" placeholder="Confirm Password" ng-model="password_confirm" validate-equals="password")
                            p.help-block(ng-show="reset_password.password_confirm.$dirty && reset_password.password_confirm.$invalid") please match the passwords
                        button.btn.btn-primary(type="submit" ng-disabled="reset_password.$invalid") Reset Password

