meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="stylesheet", href="/vendor/toastr/toastr.css")
link(rel="stylesheet" href="/css/typeahead.css")
link(rel="stylesheet", href="/vendor/ng-img-crop/compile/unminified/ng-img-crop.css")
link(rel="stylesheet", href="/vendor/angular-bootstrap/ui-bootstrap-csp.css")
link(rel='stylesheet', href='/vendor/angular-loading-bar/build/loading-bar.min.css', type='text/css', media='all')
link(rel="stylesheet", href="/css/style.css")
script(type="text/javascript", src="https://use.fontawesome.com/74fc8bb76e.js")


