doctype html
html
    head
        title HackConnect
        //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        include head
        base(href="/")
    body.no-padding(ng-app='app' ng-controller='MainCtrl')
        include currentUser
        include navbar
        .content(ng-class="isInbox()?'display-flex':''")
            block main-content
        footer.text-center
            p.no-margin &copy; 2016 HackConnect
        include scripts
        block scripts







