doctype html
html
    head
        title HackConnect
        base(href="/")
        //link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        include login-head
    body(ng-app="app")
        .navbar.navbar-default.navbar-static-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.no-padding(href="/")
                        img(src='/img/logo.png')
        block main-content
        footer.text-center
            p.no-margin &copy; 2016 HackConnect

        include login-scripts
        script(type="text/javascript", src="/app/account/app.js")
        script(type="text/javascript", src="/app/account/controllers/register.js")
        script(type="text/javascript", src="/app/account/controllers/login.js")
        script(type="text/javascript", src="/app/account/directives/validateEquals.js")



