.navbar.navbar-default.navbar-fixed-top(ng-controller="NavbarCtrl")
    .container.ng-cloak
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.no-padding(href="/")
                img(src='/img/logo.png')
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav(ng-if="checkCreateProfile()")
                li(ng-class="checkRoute('profile,home')")
                    a(href='/profile') Profile
                li(ng-class="checkRoute('people')")
                    a(href='/people') People
                li(ng-class="checkRoute('hackathons')")
                    a(href='/hackathons') Hackathons
            ul.nav.navbar-nav.navbar-right(ng-if="checkCreateProfile()")
                li.dropdown
                    a.dropdown-toggle(type='button', data-toggle='dropdown' ng-click="markAsRead('requests')")
                        span.nav-item
                            span.nav-item-counter(ng-if="requestsCounter > 0")
                                | {{requestsCounter}}
                            i.fa.fa-user-o.fa-1_4x
                    ul.dropdown-menu.requests
                        h5 Requests
                        li.request(ng-repeat="request in requests" ng-class="request.read ? '':'unread'")
                            .request-left
                                img.profile-thumbnail(ng-src="{{request.sender.profile.picture | trustUrl}}")
                                .request-description
                                    a(ng-click="openUserProfile(request.sender._id)")
                                         strong {{request.sender.name}}
                                    p 6 shared connections
                            .request-right
                                button.btn.btn-default.mg-right-10(ng-click="rejectRequest(request)") Reject
                                button.btn.btn-primary(ng-click="acceptRequest(request)") Accept
                        div.text-center
                            a.btn.btn-link.clr-primary(href="/inbox") View all requests

                li.dropdown
                    a.dropdown-toggle(type='button', data-toggle='dropdown' ng-click="markAsOld('conversations')")
                        span.nav-item
                            span.nav-item-counter(ng-if="conversationsCounter > 0")
                                | {{conversationsCounter}}
                            i.fa.fa-comments-o.fa-1_4x
                    ul.dropdown-menu.messages
                        h5 Messages
                        li.message(ng-repeat="conversation in conversations | orderBy: '-message.createdAt'" ng-class="conversation.message.read ? '':'unread'" ng-click="selectConversation(conversation)")
                            a(href='#')
                                img.profile-thumbnail(ng-src="{{conversation.message.author.profile.picture | trustUrl}}")
                                .message-description
                                    .heading
                                        strong {{conversation.message.author.name}}{{(conversation.count > 1? ' ('+conversation.count+')':'')}}
                                        p.time.pull-right Mar 9
                                    p {{conversation.message.content}}
                        div.text-center
                            a.btn.btn-link.clr-primary(href="/inbox") View all in messenger
                li.dropdown
                    a.dropdown-toggle(type='button', data-toggle='dropdown' ng-click="markAsRead('notifications')")
                        span.nav-item
                            span.nav-item-counter(ng-if="notificationsCounter > 0")
                                | {{notificationsCounter}}
                            i.fa.fa-bell-o.fa-1_4x
                    ul.dropdown-menu.notifications
                        h5 Notifications
                        li(ng-repeat="notification in notifications track by $index")
                            a(ng-click="userService.openUserProfile(notification.sender._id)")
                                img.profile-thumbnail(ng-src="{{notification.sender.profile.picture | trustUrl}}")
                                strong {{notification.sender.name}}
                                |  accepted your connection request
                        li.clr-gray-light.pd-all-10(ng-if="notifications.length == 0")
                            p.no-margin No new notifications
                        div.text-center(ng-if="notifications.length > 0")
                            a.btn.btn-link.clr-primary(href="#") View previous Notifications

                li.dropdown.logout
                    a.dropdown-toggle(type='button', data-toggle='dropdown')
                        | {{userName}}
                        i.fa.fa-angle-down.fa-lg.mg-left-10
                    ul.no-padding.dropdown-menu.settings
                        li.account-settings
                            h5.no-margin
                                span.fa.fa-cog.mg-right-10
                                | Account
                            ul.list-unstyled
                                li
                                    a(data-toggle="modal" data-target="#nameModal") Change Name
                                li
                                    a(data-toggle="modal" data-target="#changePasswordModal") Change Password
                                li
                                    a(data-toggle="modal" data-target="#preferencesModal") Update Preferences

                        li.manage
                            h5.no-margin
                                span.fa.fa-cog.mg-right-10
                                | Manage
                            ul.list-unstyled
                                li
                                    a(href="/logout" target="_self") Logout
            ul.nav.navbar-nav.navbar-right(ng-if="!checkCreateProfile()")
                li.dropdown.logout
                    a.dropdown-toggle(type='button', data-toggle='dropdown')
                        | {{userName}}
                        i.fa.fa-angle-down.fa-lg.mg-left-10
                    ul.no-padding.dropdown-menu.settings
                        li.manage
                            a.pd-all-10(href="/logout" target="_self") Logout

#nameModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Change Name
            .modal-body
                .form-group
                    label(for="name") Name
                    input.form-control#name(name="name" ng-model="name")
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button' ng-click="changeName(name)") Save

#changePasswordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Change Password
            .modal-body
                .form-group(ng-class="errorMessage? 'has-error has-feedback':''")
                    label(for="old-password") Old Password
                    input.form-control#old-password(name="oldPassword" type="password" ng-model="oldPassword")
                p.error-message(ng-show = "errorMessage") {{errorMessage}}

                .form-group
                    label(for="new-password") New Password
                    input.form-control#new-password(name="newPassword" type="password" ng-model="newPassword")
                .form-group
                    label(for="confirm-password") Re-enter new Password
                    input.form-control#confirm-password(name="confirmPassword" type="password" ng-model="confirmPassword")
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button' ng-click="changePassword(oldPassword, newPassword)" ng-disabled="newPassword != confirmPassword || !newPassword") Change

#confirmationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title {{confirmation.title}}
            .modal-body.text-center
                i.block.fa-3x.mg-bottom-20.clr-primary(ng-class="confirmation.icon")
                h4 {{confirmation.text}}
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close

#preferencesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Update Preferences
            .modal-body
                .form-group
                    label.block(for="role") Role
                    select.form-control.hidden#role(name="role")
                        option(value="")
                        option(ng-repeat="role in roles track by $index" value="{{role}}" ng-selected="preferences.role == role")
                    label.label.label-default(ng-repeat="role in roles track by $index" ng-click="selectRole(role)" ng-class="preferences.role == role ? 'active':''")
                        | {{role}}
                .form-group
                    label.block(for="typeProject") What type of projects are you interested in?
                    select.form-control.hidden#typeProject(name="projectTypes" multiple)
                        option(ng-repeat="projectType in preferences.projectTypes track by $index" value="{{projectType}}" selected)
                    label.label.label-default(ng-repeat="projectType in projectTypes track by $index" ng-click="toggleProjectType(projectType)" ng-class="{'active': isSelected(projectType)}")
                        | {{projectType}}
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-primary(type='button' ng-click="updatePreferences(preferences)") Save


